{% extends 'base.html' %}
{% load static %}

{% block title %}У доступі відмовлено{% endblock %}

{% block content %}
<div class="hero section">
    <img src="{% static 'common/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

    <section class="recipe section" data-aos="fade-up" data-aos-delay="100">
        <div class="content-block container">
            <p>Вам відмовлено в доступі до цього ресурсу.</p>

            <p><a href="{% url 'home' %}">На головну сторінку</a></p>
        </div>
    </section>
</div>
{% endblock %}
