{% extends 'base.html' %}
{% load static %}

{% block title %}Створення рецепту{% endblock %}

{% block content %}
    <h1>Створення нового рецепту</h1>

    <p><a href="{% url 'home' %}">Перейти до головної сторінки</a></p>
  
    <form method="POST">
        {% csrf_token %}
        
        <h2>Інформація</h2>
        {{ recipe_form.as_p }}
        <p>{{ info_error_message }}</p>
        
        <h2>Кроки</h2>
        <div id="steps">
        </div>
        <button type="button" id="add_step_button">Додати крок</button>
        <p>{{ step_error_message }}</p>
        
        <h2>Інгредієнти</h2>
        <div id="ingredients">
        </div>
        <button type="button" id="add_ingredient_button">Додати інгредієнт</button>
        <p>{{ ingredient_error_message }}</p>
        
        <h2>Теги</h2>
        <div id="tags">
        </div>
        <button type="button" id="add_tag_button">Додати тег</button>
        <p>{{ tag_error_message }}</p>
        
        <p><button type="submit">Додати рецепт</button></p>
    </form>
{% endblock %}

{% block script %}<script src="{% static 'main/js/form.js' %}"></script>{% endblock %}
