{% extends 'base.html' %}

{% block title %}Редагування рецепту{% endblock %}

{% block content %}
    <h1>Редагування рецепту "{{ recipe_name }}"</h2>

    <p><a href="{% url 'home' %}">На головну сторінку</a></p>
    <p><a href="{% url 'list_recipes' %}">До переліку рецептів</a></p>
  
    <form method="POST">
        {% csrf_token %}
        
        <h2>Інформація</h2>
        {{ recipe_form.as_p }}
        <p>{{ info_error_message }}</p>
        
        <h2>Кроки</h2>
        <h3>Для оновлення</h3>
        {{ step_formset.management_form }}
        {% for form in step_formset %}
            {{ form.id }}
            {{ form.as_p }}
        {% endfor %}
        <h3>Для додання</h3>
        <div id="steps">
        </div>
        <button type="button" id="add_step_button">Додати крок</button>
        <p>{{ step_error_message }}</p>
        
        <h2>Інгредієнти</h2>
        <h3>Для оновлення</h3>
        {{ ingredient_formset.management_form }}
        {% for form in ingredient_formset %}
            {{ form.id }}
            {{ form.as_p }}
        {% endfor %}
        <h3>Для додання</h3>
        <div id="ingredients">
        </div>
        <button type="button" id="add_ingredient_button">Додати інгредієнт</button>
        <p>{{ ingredient_error_message }}</p>
        
        <h2>Теги</h2>
        <h3>Для оновлення</h3>
        {{ tag_formset.management_form }}
        {% for form in tag_formset %}
            {{ form.id }}
            {{ form.as_p }}
        {% endfor %}
        <h3>Для додання</h3>
        <div id="tags">
        </div>
        <button type="button" id="add_tag_button">Add another tag</button>
        <p>{{ tag_error_message }}</p>
        
        <p><button type="submit">Зберегти зміни</button></p>
    </form>

    <script>
        function addStepField() {
            const stepDescriptionInput = document.createElement('input');
            stepDescriptionInput.type = 'text';
            stepDescriptionInput.name = 'new_step_description';
            stepDescriptionInput.required = true;
            stepDescriptionInput.placeholder = 'Опис кроку';

            const removeButton = document.createElement('button');
            removeButton.textContent = 'Вилучити';

            const stepsDiv = document.getElementById('steps');
            const para = document.createElement('p');
            para.appendChild(stepDescriptionInput);
            para.appendChild(removeButton);
            stepsDiv.appendChild(para);

            removeButton.addEventListener('click', () => stepsDiv.removeChild(para));
        }

        function addIngredientField() {
            const nameInput = document.createElement('input');
            nameInput.type = 'text';
            nameInput.name = 'new_ingredient_name';
            nameInput.required = true;
            nameInput.placeholder = 'Назва інгредієнту';

            const volumeInput = document.createElement('input');
            volumeInput.type = 'number';
            volumeInput.step = '0.001';
            volumeInput.name = 'new_ingredient_volume';
            volumeInput.required = true;
            volumeInput.placeholder = 'Обсяг';

            const measureInput = document.createElement('input');
            measureInput.type = 'text';
            measureInput.name = 'new_ingredient_volume_measure';
            measureInput.required = true;
            measureInput.placeholder = 'Міра обсягу';

            const removeButton = document.createElement('button');
            removeButton.textContent = 'Вилучити';

            const ingredientsDiv = document.getElementById('ingredients');
            const para = document.createElement('p');
            para.appendChild(nameInput);
            para.appendChild(volumeInput);
            para.appendChild(measureInput);
            para.appendChild(removeButton);
            ingredientsDiv.appendChild(para);

            removeButton.addEventListener('click', () => ingredientsDiv.removeChild(para));
        }

        function addTagField() {
            const input = document.createElement('input');
            input.type = 'text';
            input.name = 'new_tag_text';
            input.required = true;
            input.placeholder = 'Тег';

            const removeButton = document.createElement('button');
            removeButton.textContent = 'Вилучити';

            const tagsDiv = document.getElementById('tags');
            const para = document.createElement('p');
            para.appendChild(input);
            para.appendChild(removeButton);
            tagsDiv.appendChild(para);

            removeButton.addEventListener('click', () => tagsDiv.removeChild(para));
        }

        document.getElementById('add_step_button').addEventListener('click', addStepField);
        document.getElementById('add_ingredient_button').addEventListener('click', addIngredientField);
        document.getElementById('add_tag_button').addEventListener('click', addTagField);
    </script>
{% endblock %}
