{% extends 'base.html' %}
{% load static %}

{% block title %}Редагування рецепту{% endblock %}

{% block content %}
    <h1>Редагування рецепту "{{ recipe_name }}"</h2>

    <p><a href="{% url 'home' %}">На головну сторінку</a></p>
    <p><a href="{% url 'list_recipes' %}">До переліку рецептів</a></p>
  
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h2>Інформація</h2>
        {{ recipe_form.as_p }}
        <p>{{ info_error_message }}</p>
        
        <h2>Кроки</h2>
        <h3>Для оновлення</h3>
        {{ step_formset.management_form }}
        {% for form in step_formset %}
            {{ form.as_p }}
        {% endfor %}
        <h3>Для додання</h3>
        <div id="steps">
            {% for step in new_steps %}
                <p>
                    <input type="text" name="new_step_description" value="{{ step }}" placeholder="Опис кроку" required>
                    <button onclick="this.parentNode.remove()">Вилучити</button>
                </p>
            {% endfor %}
        </div>
        <button type="button" id="add_step_button">Додати крок</button>
        <p>{{ step_error_message }}</p>
        
        <h2>Інгредієнти</h2>
        <h3>Для оновлення</h3>
        {{ ingredient_formset.management_form }}
        {% for form in ingredient_formset %}
            {{ form.as_p }}
        {% endfor %}
        <h3>Для додання</h3>
        <div id="ingredients">
            {% for ingredient in new_ingredients %}
                <p>
                    <input type="text" name="new_ingredient_name" value="{{ ingredient.name }}" placeholder="Назва інгредієнту" required>
                    <input type="number" name="new_ingredient_volume" step="0.001" value="{{ ingredient.volume }}" placeholder="Обсяг" required>
                    <input type="text" name="new_ingredient_volume_measure" value="{{ ingredient.volume_measure }}" placeholder="Міра обсягу" required>
                    <button onclick="this.parentNode.remove()">Вилучити</button>
                </p>
            {% endfor %}
        </div>
        <button type="button" id="add_ingredient_button">Додати інгредієнт</button>
        <p>{{ ingredient_error_message }}</p>
        
        <h2>Теги</h2>
        <h3>Для оновлення</h3>
        {{ tag_formset.management_form }}
        {% for form in tag_formset %}
            {{ form.as_p }}
        {% endfor %}
        <h3>Для додання</h3>
        <div id="tags">
            {% for tag in new_tags %}
                <p>
                    <input type="text" name="new_tag_text" value="{{ tag }}" placeholder="Опис кроку" required>
                    <button onclick="this.parentNode.remove()">Вилучити</button>
                </p>
            {% endfor %}
        </div>
        <button type="button" id="add_tag_button">Додати тег</button>
        <p>{{ tag_error_message }}</p>
        
        <p><button type="submit">Зберегти зміни</button></p>
    </form>
{% endblock %}

{% block script %}<script src="{% static 'main/js/recipe_modifying_form.js' %}"></script>{% endblock %}
