{% extends 'base.html' %}
{% load main_tags %}

{% block title %}Перелік рецептів{% endblock %}

{% block content %}
    <p><a href="{% url 'home' %}">На головну сторінку</a></p>

    <h1>Перелік рецептів</h1>

    <h2>Параметри сортування</h2>
    <form method="get">
        {{ sort_form.as_p }}
        <button type="submit">Сортувати</button>
    </form>

    <ul>
    {% for recipe in page_obj %}
        <li>
            <a href="{% url 'recipe_details' recipe_id=recipe.id %}">{{ recipe.name }}</a>
            | <a href="{% url 'delete_recipe' recipe_id=recipe.id %}">вилучити</a>
            <a href="{% url 'edit_recipe' recipe_id=recipe.id %}">редагувати</a>
        </li>
    {% endfor %}
    </ul>

    <p>
        <a href="?{% param_replace page=1 %}">&laquo; на початок</a>
        {% if page_obj.has_previous %}
            | <a href="?{% param_replace page=page_obj.previous_page_number %}">назад</a>
        {% endif %}
        {% if page_obj.has_next %}
            | <a href="?{% param_replace page=page_obj.next_page_number %}">далі</a>
            | <a href="?{% param_replace page=page_obj.paginator.num_pages  %}">на кінець &raquo;</a></li>
        {% endif %}
    </p>
{% endblock %}
