{% extends 'base.html' %}

{% block title %}Інформація про рецепт{% endblock %}

{% block content %}
    <p><a href="{% url 'home' %}">На головну сторінку</a></p>
    <p><a href="{% url 'list_recipes' %}">До переліку рецептів</a></p>

    <h1>{{ recipe.name }}</h1>

    <h2>Інформація</h2>
    <p>{{ recipe.description }}</p>
    <p>Час приготування, хв: {{ recipe.cooking_time }}</p>
    <p>Категорія: {{ recipe.category }}</p>
    <ul class="list-unstyled">
        {% if recipe.image_1 %}
            <li class="p-2 mx-2"><img src="{{ recipe.image_1.url }}" width="256"></li>
        {% endif %}
        {% if recipe.image_2 %}
            <li class="p-2 mx-2"><img src="{{ recipe.image_2.url }}" width="256"></li>
        {% endif %}
        {% if recipe.image_3 %}
            <li class="p-2 mx-2"><img src="{{ recipe.image_3.url }}" width="256"></li>
        {% endif %}
    </ul>
    <p>Створено: {{ recipe.created_at }}</p>
    <p>Оновлено: {{ recipe.updated_at }}</p>

    <h2>Інгредієнти</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.name }}: {{ ingredient.volume }} {{ ingredient.volume_measure }}</li>
        {% endfor %}
    </ul>

    <h2>Кроки</h2>
    <ol>
        {% for step in steps %}
            <li>{{ step.step_description }}</li>
        {% endfor %}
    </ol>

    <h2>Теги</h2>
    <ul class="d-flex flex-wrap list-unstyled">
        {% for tag in tags %}
            <li class="bg-primary text-white p-2 mx-2">{{ tag.tag_text }}</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'edit_recipe' recipe_id=recipe.id %}">Редагувати цей рецепт</a></p>
    <p><a href="{% url 'download_recipe' recipe_id=recipe.id %}">Завантажити цей рецепт</a></p>
    <p><a href="{% url 'delete_recipe' recipe_id=recipe.id %}">Вилучити цей рецепт</a></p>
{% endblock %}
